li {
    color: white
    
}
.divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -210px;
  left: 800px;
  width: 500px;
  flex-wrap: nowrap;
}
button {
    height: 60px;
}
li {
  list-style: none;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
}

